Fetching Top movies data from TMDB website (TMDB API)

In [20]:
import pandas as pd
import requests 
import warnings
warnings.filterwarnings('ignore')

# using requests we will create an HTTP req in python
# HTTP - protocol to access web page data

- https://api.themoviedb.org/3/movie/top_rated?api_key=73feb80678b534b19176579a313ff8ba&language=en-US&page=1

- 73feb80678b534b19176579a313 is my API key (which i entered)
- US&page=1 means the first page of the website's topmovies results (we used the top movies API there are many more APIs eg.. worst movies)

In [21]:
# response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=73feb80678b534b19176579a313ff8ba&language=en-US&page=1")

In [22]:
df=pd.DataFrame(response.json()['results'])
# json is a dictionary in which we selected results 'key' 
df2=pd.DataFrame(response.json()['results'])[["id","genre_ids","original_language","title","adult","popularity","release_date","vote_average","vote_count"]] 
# to directly import only desired columns to dataframe

- we selected results b/c that's what we need 
- then in results we selected the columns we need

In [23]:
df.head(2)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",117.912,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,17593
1,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,97.494,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23432

In [24]:
df2.head(5)

,id,genre_ids,original_language,title,adult,popularity,release_date,vote_average,vote_count
0,238,"[18, 80]",en,The Godfather,False,117.912,1972-03-14,8.7,17593
1,278,"[18, 80]",en,The Shawshank Redemption,False,97.494,1994-09-23,8.7,23432
2,772071,"[35, 14]",es,Cuando Sea Joven,False,50.035,2022-09-14,8.7,211
3,995133,"[16, 10751, 12, 14]",en,"The Boy, the Mole, the Fox and the Horse",False,59.921,2022-12-25,8.6,260
4,240,"[18, 80]",en,The Godfather Part II,False,65.399,1974-12-20,8.6,10654

In [25]:
dfmerged=pd.DataFrame()

In [27]:
dfmerged

Empty DataFrame
Columns: []
Index: []

In [34]:
for i in range(1,490):
    response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=73feb80678b534b19176579a313ff8ba&language=en-US&page={}".format(i))
    temp_df=pd.DataFrame(response.json()['results'])[["id","genre_ids","original_language","title","adult","popularity","release_date","vote_average","vote_count"]] 
    dfmerged=dfmerged.append(temp_df,ignore_index=True)

- as in each pg 20 results so the 2nd loop will hv again 1-20 index not 21,22...
- as there are lot oof pages so it will take some time to execute

In [35]:
dfmerged

,id,genre_ids,original_language,title,adult,popularity,release_date,vote_average,vote_count
0,238,"[18, 80]",en,The Godfather,False,117.912,1972-03-14,8.7,17593
1,278,"[18, 80]",en,The Shawshank Redemption,False,97.494,1994-09-23,8.7,23432
2,772071,"[35, 14]",es,Cuando Sea Joven,False,50.035,2022-09-14,8.7,211
3,995133,"[16, 10751, 12, 14]",en,"The Boy, the Mole, the Fox and the Horse",False,59.921,2022-12-25,8.6,260
4,240,"[18, 80]",en,The Godfather Part II,False,65.399,1974-12-20,8.6,10654
...,...,...,...,...,...,...,...,...,...
20675,466622,"[28, 53]",en,The Rhythm Section,False,18.308,2020-01-31,5.6,522
20676,9586,"[80, 35, 18]",en,The Bonfire of the Vanities,False,13.345,1990-12-21,5.6,402
20677,23742,"[28, 35, 80]",en,Cop Out,False,16.820,2010-02-26,5.6,1336
20678,6171,"[18, 27, 878, 53]",en,Dreamcatcher,False,30.029,2003-03-21,5.6,1542
20679,298722,[35],it,Soap Opera,False,4.538,2014-10-23,5.6,226

In [36]:
dfmerged.shape

(20680, 9)

#### convertinvg the dataframe to a csv file and storing it locally

In [37]:
# dfmerged.to_csv("topmovies.csv")

- topmovies.csv was created here transported to Datasets
- now can upload this dataset to kaggle
- it will increase credibility

Go to Rapid api We'll get free API's list there and we can create our own datasets using it