In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

<pre>
We will extract the following Details of the companies from each page
- Name, Rating, Type of company (public,pvt etc), HQ location, How Old company, No of Employees, Tags reltd to company, About(the company)
- so 9 columns , no of rows - as many companies
</pre>

In [3]:
header={"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget&page=1',headers=header).text

In [4]:
soup=BeautifulSoup(webpage,'html')

In [5]:
company=soup.find_all('div',class_='company-content-wrapper')     # company stores all the divs havin company content wrapper class

In [6]:
len(company)    #30 companies in pg1

30

Inspect which tag then use it

In [10]:
name=[]
rating=[]
review=[]
companytype=[]     # prblm as 'p' tag and class_ same for companytype,HQ,Emploees,ageofcompany
HQlocn=[]
AGE=[]
no_of_employees=[]
#Tags=[[]]
#About=[[]]

for i in company:                                               #searching in those containers/'div's
    name.append(i.find('h2').text.strip())                      #find used b/c only one h2 tag in each company-content wrapper : Title
    rating.append(i.find('p',class_='rating').text.strip())
    review.append(i.find('a',class_='review-count').text.strip())
    companytype.append(i.find_all('p',class_='infoEntity')[0].text.strip())  #find_all b/c there are 4 'p' classes with class_ ='infoEntity'
    HQlocn.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    AGE.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    no_of_employees.append(i.find_all('p',class_='infoEntity')[3].text.strip())

d={'Name':name,'Rating':rating,'Review':review,'Companytype':companytype,'HQlocn':HQlocn,'AGE':AGE,'No_of_employees':no_of_employees}
df=pd.DataFrame(d)

In [11]:
#print(company[0].find_all('p',class_='infoEntity'))   #company[0]=TCS this code gives all Type,HQ,AGe,employees a list with 4 values
company[0].find_all('p',class_='infoEntity')[0].text.split()       #0,1,2,3

['Public']

In [12]:
df

,Name,Rating,Review,Companytype,HQlocn,AGE,No_of_employees
0,TCS,3.9,(54.4k Reviews),Public,"Mumbai,Maharashtra + 276 more",55 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(34.5k Reviews),Public,Dublin + 134 more,34 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(31.7k Reviews),Private,Teaneck. New Jersey. + 103 more,29 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(35.5k Reviews),Public,"Mumbai,Maharashtra + 1087 more",29 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(41.9k Reviews),Public,"Mumbai,Maharashtra + 1307 more",29 years old,50k-1 Lakh Employees (India)
5,Wipro,3.9,(31k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 233 more",78 years old,1 Lakh+ Employees (India)
6,Infosys,3.9,(30.2k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 128 more",42 years old,1 Lakh+ Employees (India)
7,Capgemini,3.9,(25.6k Reviews),Public,Paris + 79 more,56 years old,1 Lakh+ Employees (India)
8,Tech Mahindra,3.7,(23k Reviews),Public,"Pune,Maharashtra + 214 more",37 years old,50k-1 Lakh Employees (India)
9,Genpact,4.0,(20.6k Reviews),Public,"New York,New York + 70 more",26 years old,50k-1 Lakh Employees (India)
10,HCLTech,3.8,(19.9k Reviews),Public,"Noida,Uttar Pradesh + 144 more",32 years old,1 Lakh+ Employees (India)
11,Amazon,4.2,(19.8k Reviews),Public,"Seattle,Washington + 389 more",29 years old,1 Lakh+ Employees (India)
12,Axis Bank,3.9,(19.6k Reviews),Public,"Mumbai,Maharashtra + 1136 more",30 years old,50k-1 Lakh Employees (India)
13,Concentrix Corpo...,4.0,(15.9k Reviews),Public,"Fremont,California + 72 more",40 years old,10k-50k Employees (India)
14,IBM,4.2,(16.1k Reviews),Public,"Armonk,New York + 122 more",112 years old,1 Lakh+ Employees (India)
15,Reliance Jio,4.0,(15.6k Reviews),Public,"Navi Mumbai,Maharashtra + 1028 more",16 years old,50k-1 Lakh Employees (India)
16,Larsen & Toubro ...,4.1,(25.4k Reviews),Public,"Mumbai,Maharashtra + 540 more",77 years old,10k-50k Employees (India)
17,HDB Financial Se...,4.0,(14.1k Reviews),Private,"Ahmedabad,Gujrat + 816 more",16 years old,1 Lakh+ Employees (India)
18,Vodafone Idea,4.2,(13.6k Reviews),Public,"Gandhinagar,Gujrat + 579 more",5 years old,10k-50k Employees (India)
19,Teleperformance,3.6,(15.3k Reviews),Private,Paris + 123 more,45 years old,50k-1 Lakh Employees (India)
20,Reliance Retail,4.1,(18.3k Reviews),Private,"Navi Mumbai,Maharashtra + 750 more",17 years old,1 Lakh+ Employees (Global)
21,Kotak Mahindra B...,3.9,(14.3k Reviews),Public,"Mumbai,Maharashtra + 486 more",20 years old,10k-50k Employees (India)
22,Deloitte,4.1,(11k Reviews),Private,"New York,New York + 132 more",178 years old,10k-50k Employees (India)
23,Reliance Industr...,4.1,(47.9k Reviews),Public,"Navi Mumbai,Maharashtra + 529 more",50 years old,10k-50k Employees (India)
24,Bharti Airtel,4.1,(12.9k Reviews),Public,"Gurgaon/Gurugram,Haryana + 543 more",28 years old,10k-50k Employees (India)
25,BYJU'S,3.4,(14.4k Reviews),Private,"Bangalore,Karnataka + 267 more",12 years old,1k-5k Employees (India)
26,Tata Motors,4.1,(12.5k Reviews),Public,"Pune,Maharashtra + 396 more",78 years old,10k-50k Employees (India)
27,Flipkart,4.2,(12.8k Reviews),Public,"Bangalore,Karnataka + 470 more",16 years old,10k-50k Employees (India)
28,WNS,3.7,(7.4k Reviews),Private,"Mumbai,Maharashtra + 24 more",27 years old,10k-50k Employees (India)
29,IndusInd Bank,3.8,(7k Reviews),Public,"Gurgaon/Gurugram,Haryana + 584 more",29 years old,10k-50k Employees (India)